@using CodeConnect.WebAssembly.Components.General
@using DomainLayer.Constants
@inherits CreatePostBase
<div id="post-container" class="shadow-xl md:w-[550px] w-[90vw] md:min-h-[130px] min-h-[180px] mx-auto relative bg-dark-secondaryColor p-5 pb-[5px] rounded-md mt-5 md:mt-0">
    <div class="flex">
        <img class="w-10 ms-3 h-10 rounded-full mb-3 object-cover" src="@UserDetails?.ProfileImg" alt="Rounded avatar">
        <div class="ml-[5px] mt-[5px]">
            <EditForm Model="this" OnSubmit="HandleValidSubmit" FormName="Post">
                <MarkdownTextbox Id="post" @bind-BindContent="PostContent" showPreview="@ShowPreview" />
                <div class="mt-[5px] flex -ml-[45px]" >
                    <div class="mt-[9px]">
                        <label for="@InputId" class="block hover:cursor-pointer">
                            <p class="fa-solid fa-image fa-xl text-dark-supportColor/90"></p>
                        </label>
                        <InputFile multiple type="file" OnChange="HandleFileSelection" accept="image/*" name="postFiles" id="@(InputId)" class="opacity-0 absolute" />
                    </div>
                    <div class="ml-5">
                        <button type="button" @onclick="ToggleShowPreview" class="cursor-pointer rounded-md border-solid hover:bg-light-secondaryColor px-3 py-2 text-dark-supportColor/90 ">
                            <FaIcon Icon="@FaIcons.Search"/> Preview
                        </button>
                    </div>
                    <div class="ml-5">
                        <button disabled="@Loading" class="cursor-pointer rounded-md border-solid hover:bg-light-secondaryColor px-3 py-2 text-dark-supportColor/90 ">
                            <FaIcon Icon="@FaIcons.Send"/> Post
                        </button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
    <div>
        <div class="mt-5 mb-2">
            @if (LoadingImages)
            {
                <div class="w-5 mx-auto">
                    <i class="fa-solid fa-spinner fa-spin fa-xl text-light-primaryColor"></i>
                </div>
            }
            @if (Base64Images.Any() && LoadingImages == false)
            {
                <div class="flex flex-wrap">
                    @for (int i = 0; i < Base64Images.Count; i++)
                    {
                        var currentIndex = i;
                        <div key="@currentIndex" class="@(i==0?"w-[90%] max-h-[400px] mx-auto":"w-[30%] h-[100px] mx-auto mt-[5px]") relative">
                            <span class="fa-solid fa-circle-xmark hover:cursor-pointer fa-xl text-light-primaryColor absolute right-0 z-[10]" onclick="@(() => RemoveFileSelected(currentIndex))"></span>
                            <img class="rounded-md w-[100%] h-[100%] object-cover relative" src="@Base64Images[currentIndex].Base64String" alt="preview">
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>

