@using DomainLayer.DbEnts
@using CodeConnect.WebAssembly.Components.General
@using DomainLayer.Constants
@inherits EditUserInterestsBase

<div class="top-0 left-0 fixed z-[300] w-[100vw] h-[100vh] backdrop-blur-md grid place-content-center">
    <div class="shadow-xl md:w-[500px] w-[90%]  mt-5 relative bg-dark-secondaryColor p-5 rounded-md">
        <button @onclick="Cancel" class="cursor-pointer rounded-md px-3 py-2 text-light-supportColor bg-light-primaryColor hover:bg-light-primaryColor/70">
            <FaIcon Icon="@FaIcons.Back" /> Back
        </button>
        <h3 class="font-bold dark:text-dark-supportColor text-light-primaryColor text-4xl mt-4 text-center">Edit Interests</h3>
        @if (FetchingInterests)
        {
            <p class="animate-pulse">loading...</p>
        }
        else
        {
            <div class="flex flex-row flex-nowrap overflow-y-scroll mt-[10px]">
                @foreach (var interest in TechTypes)
                {
                    <div @onclick="()=>ChangeTechType(interest)" class="bg-light-primaryColor hover:cursor-pointer hover:bg-light-primaryColor/70 rounded-md p-[5px] flex mr-[5px]">
                        <p class="font-semibold flex self-center">@interest</p>
                    </div>
                }
            </div>
            <h3 class="font-bold text-light-primaryColor mt-5">@SelectedTechType</h3>
            <div class="flex flex-wrap mt-[5px]">
                @foreach (var interest in AllTechInterests.Where(x => x.InterestType == SelectedTechType && (!CurrentUserInterests?.Contains(x) ?? true)))
                {
                    <p @onclick="()=> AddInterest(interest)" class="p-[5px] mb-[5px] bg-light-primaryColor/80 hover:cursor-pointer hover:bg-light-primaryColor/90 rounded-md mr-[5px]">@interest.TechName</p>
                }
            </div>
            <div class="mt-5">
                <p class="text-red-800 font-bold">@InterestsErrorMessage</p>
                <h3 class="font-bold text-light-primaryColor">@CurrentUserInterests?.Count Currently Selected (Max 10):</h3>
                @if (CurrentUserInterests == null || (!CurrentUserInterests?.Any() ?? false))
                {
                    <p class="text-light-primaryColor/60">none..</p>
                }
                @if(CurrentUserInterests != null)
                {
                    <div class="flex flex-wrap mt-[5px]">
                        @foreach (var interest in CurrentUserInterests)
                        {
                            <p @onclick="() => RemoveInterest(interest)" class="p-[5px] mb-[5px] bg-light-primaryColor/80 hover:cursor-pointer hover:bg-light-primaryColor/90 rounded-md mr-[5px]">@interest.TechName</p>
                        }
                    </div>
                }
            </div>
            <SaveButton SaveMethod="UpdateInterests" Loading="Saving"/>
        }
    </div>
</div>
