@using ApplicationLayer.DTO_s.Post
@using DomainLayer.Constants
@using DomainLayer.Helpers
@using CodeConnect.WebAssembly.Components.General
@inherits CommentBase
<div class="w-[90%] rounded-md dark:text-light-primaryColor text-dark-primaryColor dark:bg-dark-primaryColor bg-light-primaryColor px-3 pb-2 mt-5 @(UserComment.Id == HighlightCommentId ? "border border-red-500": "")">
    <div class="flex mt-[10px] w-full justify-between">
        <div class="flex text-light-primaryColor">
            <img src="@UserComment.CreatedBy.ProfileImgUrl" alt="@UserComment.CreatedBy.Username" class="w-[40px] h-[40px] rounded-full object-cover">
            <div class="ml-[10px]">
                <p class="text-[16px] font-bold dark:text-light-primaryColor/80 text-dark-primaryColor/80"><span class="text-gray-400">&#64;</span>@UserComment.CreatedBy.Username</p>
            </div>
        </div>
        <p class="dark:text-light-primaryColor/80 text-dark-primaryColor/80 text-[14px] ml-[5px]">@Helpers.GetUsersLocalTime(UserComment.CreatedAt, Consts.DateFormats.DateTimeFormat)</p>
    </div>
    <div id="@_id" class="text-[16px] mb-[10px] ml-5 mt-[10px]">@((MarkupString)UserComment.Content)</div>
    <div class="flex justify-between w-full">
        <div class="dark:text-light-primaryColor/80 text-dark-primaryColor/80 mb-2">
            <div class="cursor-pointer @(LikesComment ? "text-red-700" : "")" @onclick="LikeComment">
                <FaIcon Icon="@FaIcons.Heart" Size="@FaSize.Large"/>
                <span><FormatNumber Number="LikeCount"/></span>
            </div>
        </div>
        <div>
            @if (UserComment.CreatedBy.UserId == UserState.Current?.Id)
            {
                <el-dropdown :trap-focus="false" class="inline-block ">
                    <button class="inline-flex w-[50px] text-light-primaryColor p-2 dark:bg-dark-secondaryColor bg-light-secondaryColor justify-center gap-x-1.5 rounded-md text-sm font-semibold cursor-pointer">
                        <FaIcon Icon="@FaIcons.Ellipsis" Size="@FaSize.XLarge" ExtraCss="dark:text-light-primaryColor text-dark-primaryColor"/>
                    </button>

                    <el-menu anchor="bottom end" class="w-56 origin-top-right rounded-md dark:bg-dark-secondaryColor bg-light-secondaryColor shadow-lg ring-1 ring-black/5">
                        <div class="py-1">
                            <button @onclick="ToggleShowDeleteComment" class="block px-4 py-2 text-sm text-black dark:text-white hover:bg-red-700 w-full cursor-pointer">
                                <FaIcon Icon="@FaIcons.Trash"/>
                                Delete Comment
                            </button>
                        </div>
                    </el-menu>
                </el-dropdown>   
            }
        </div>
    </div>
</div>
@if (ShowDeleteComment)
{
    <Confirm Description="Are you sure you want to delete this comment?" ConfirmText="Delete"  ConfirmMethod="DeleteComment" CancelMethod="ToggleShowDeleteComment"/>
}
