@page "/Profile/{Username}"
@using Microsoft.AspNetCore.Components.Authorization
@using CodeConnect.WebAssembly.Components.SVGs
@using DomainLayer.Constants
@using CodeConnect.WebAssembly.Components.Profile
@using CodeConnect.WebAssembly.Components.General
@inherits ProfileBase

@if (FoundUser)
{
    <AuthorizeView>
        <Authorized>
            <div class="w-[90vw] max-w-[1100px] bg-dark-secondaryColor rounded-md mx-auto pt-5 pb-10 mt-5 shadow-xl">
                <div class="w-[95%] max-w-[1000px] md:mt-5 mx-auto relative rounded-md">
                    <div class="w-[100%] relative">
                        @if (IsCurrentUser)
                        {
                            <div class="absolute w-[100%] md:h-[450px] h-[200px] rounded-md hover:cursor-pointer opacity-0 hover:opacity-100 bg-black/80 rounded-full flex" @onclick="() => UpdateImage(Consts.ImageType.BackgroundImages)">
                                <FaIcon Icon="@FaIcons.Edit" Size="@FaSize.XxLarge" ExtraCss="text-gray-200 mx-auto self-center" />
                            </div>
                        }
                        <img src="@UserDetails?.BackgroundImg" class="w-[100%] md:h-[450px] h-[200px] rounded-md mx-auto object-cover" alt=""/>
                    </div>
                    <div class="flex flex-col md:flex-row">
                        <div class="w-[200px] md:h-[200px] h-[70px] z-[50] relative">
                            <div class="flex flex-col">
                                <div class="relative md:h-[150px] h-[55px]">
                                    <div class="absolute md:w-[200px] md:h-[200px] w-[100px] h-[100px] -top-[50px] md:left-[30px] left-[10px] rounded-full">
                                        @if (IsCurrentUser)
                                        {
                                            <div class="absolute md:w-[200px] md:h-[200px] w-[100px] h-[100px] hover:cursor-pointer opacity-0 hover:opacity-100 bg-black/80 rounded-full flex" @onclick="() => UpdateImage(Consts.ImageType.ProfileImages)">
                                                <FaIcon Icon="@FaIcons.Edit" Size="@FaSize.XxLarge" ExtraCss="text-gray-200 mx-auto self-center" />
                                            </div>
                                        }
                                        <div class="md:w-[200px] md:h-[200px] w-[100px] h-[100px]">
                                            <img src="@UserDetails?.ProfileImg" class="w-[100%] h-[100%] rounded-full object-cover" alt="profile image"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="md:mt-[5px] md:pl-[80px]">
                            <div>
                                <div class="flex pt-[5px]">
                                    <div class="flex">
                                        <p class="font-bold md:text-4xl text-2xl text-dark-supportColor">@UserDetails?.FirstName @UserDetails?.LastName</p>
                                    </div>
                                </div>
                                <div class="flex">
                                    <p class="pt-[5px] font-bold text-lg text-dark-supportColor/70">&#x40;@UserDetails?.UserName</p>
                                    <div class="flex md:mt-2 ml-[10px] md:ml-[5px]">
                                        @if (!string.IsNullOrEmpty(UserDetails?.GithubLink))
                                        {
                                            <div class="md:ml-5">
                                                <a href="@UserDetails?.GithubLink" target="_blank"><GithubSVG Width="20" Height="20" Color="#FFFFFF"/></a>
                                            </div>
                                        }
                                        @if (!string.IsNullOrEmpty(UserDetails?.WebsiteLink))
                                        {
                                            <div class="ml-2">
                                                <a href="@UserDetails?.WebsiteLink" target="_blank"><WebsiteSVG Width="20" Height="20" Color="#FFFFFF"/></a>
                                            </div>
                                        }
                                    </div>
                                </div>
                                @if (FollowerCount != null)
                                {
                                    <div class="flex text-dark-supportColor/70">
                                        <p>Following @FollowerCount.FollowingCount</p>
                                        <p class="ml-2">Followers @FollowerCount.FollowersCount</p>
                                    </div>
                                }
                                @if (IsCurrentUser)
                                {
                                    <div class="mt-[10px] flex">
                                        <button @onclick="ToggleEditProfile" class="cursor-pointer rounded-md bg-gray-200 w-[150px] h-[30px] font-bold hover:bg-gray-400">
                                            <FaIcon Icon="@FaIcons.Edit" /> Edit Profile
                                        </button>
                                        <button class="cursor-pointer rounded-md border-red-800 bg-red-500 w-[150px] h-[30px] font-bold hover:bg-red-700 ml-[5px]" @onclick="ToggleShowConfirmLogout">
                                            <FaIcon Icon="@FaIcons.Logout" /> Logout
                                        </button>
                                    </div>
                                }
                                else
                                {
                                    <FollowUser CurrentUsername="@CurrentUsername" FollowUsername="@UserDetails?.UserName" />
                                }
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col lg:flex-row lg:space-x-2 mt-5 md:mt-0">
                        <div class="bg-dark-primaryColor/90 rounded-md p-3 md:w-[500px] md:max-h-[200px] md:mx-auto">
                            <h3 class="text-2xl font-semibold dark:text-dark-supportColor text-light-primaryColor">Bio</h3>
                            <p class="dark:text-dark-supportColor/90 text-light-primaryColor/90">@(string.IsNullOrEmpty(UserDetails?.Bio) ? "Bio is looking empty..." : UserDetails?.Bio)</p>
                        </div>
                        <div class="p-3 bg-dark-primaryColor/90 rounded-md min min-w-[300px] lg:max-w-[400px] md:max-w-[500px] mt-5 lg:mt-0 md:mx-auto ">
                            <div class="flex">
                                <h3 class="text-2xl ml-2 font-semibold dark:text-dark-supportColor text-light-primaryColor">Interests</h3>
                                @if (IsCurrentUser)
                                {
                                    <button @onclick="ToggleEditUserInterests" class="w-[100px] h-[25px] text-dark-secondaryColor font-bold rounded ml-auto cursor-pointer">
                                        <FaIcon Icon="@FaIcons.Edit" /> Edit
                                    </button>
                                }
                            </div>
                            <div class="flex flex-wrap w-[100%]">
                                @if (UserInterests == null)
                                {
                                    <p class="dark:text-dark-supportColor/80 pt-[10px] text-light-primaryColor/90 ">This person has no interests... <br/> Boring.</p>
                                }
                                else
                                {
                                    foreach(var interest in UserInterests)
                                    {
                                        <div class="rounded-md bg-dark-secondaryColor ml-2 mt-[10px]">
                                            <p class="p-[5px] font-bold text-light-primaryColor/70">@interest.TechName</p>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <CascadingValue Value="Username">
                <ProfileDetails />
            </CascadingValue>
            @if (ShowConfirmLogout)
            {
                <Confirm Description="Are you sure you want to logout?" ConfirmText="Logout"  ConfirmMethod="AuthenticateServiceClient.LogoutUser" CancelMethod="ToggleShowConfirmLogout"/>
            }
            @if (ShowEditProfile)
            {
                <EditProfile Cancel="ToggleEditProfile"/>
            }
            @if (ShowUpdateImage)
            {
                <UpdateImage UpdateOfImageType="UpdateImageType" Cancel="ToggleEditImage"/> 
            }
            @if (EditUserInterests)
            {
                <EditUserInterests CurrentUserInterests="UserInterests" Cancel="ToggleEditUserInterests" />
            }
        </Authorized>
    </AuthorizeView>
}
else
{
    <div class="grid place-content-center">
        <p class="animate-pulse text-light-primaryColor">loading profile...</p>
    </div>
}