@page "/Account/Register"
@inherits RegisterBase

<div></div>
<div>
    <div>
        <h1>Welcome to Code Connect!</h1>
        <div>
            <p>Bridging Bytes and Brilliant Minds - Your Coding Community!</p>
            <p>Register now to start sharing your ideas and projects!</p>
        </div>
        <h3>Already have an account?</h3>
        <a href="Account/Login">Login now!</a>
    </div>
    <div>
        <h1>Register</h1>
        <EditForm FormName="Register" Model="RegisterForm" OnSubmit="SubmitRegister">
            <div>
                <InputText @bind-Value="RegisterForm.FirstName" id="firstName"></InputText>
                <div>
                    @if (RegisterErrors.Any(x => x.PropertyName == "FirstName"))
                    {
                    foreach (var error in RegisterErrors.Where(x=> x.PropertyName == "FirstName"))
                    {
                    <p>@error.ErrorMessage</p>
                    }
                    }
                </div>
            </div>
            <div>
                <InputText @bind-Value="RegisterForm.LastName" id="lastName"></InputText>
                <div>
                    @if (RegisterErrors.Any(x => x.PropertyName == "LastName"))
                    {
                    foreach (var error in RegisterErrors.Where(x=> x.PropertyName == "LastName"))
                    {
                    <p>@error.ErrorMessage</p>
                    }
                    }
                </div>
            </div>
            <div>
                <InputText @bind-Value="RegisterForm.Email" id="email"></InputText>
                <div>
                    @if (RegisterErrors.Any(x => x.PropertyName == "Email"))
                    {
                    foreach (var error in RegisterErrors.Where(x=> x.PropertyName == "Email"))
                    {
                    <p>@error.ErrorMessage</p>
                    }
                    }
                </div>
            </div>
            <div>
                <InputDate @bind-Value="RegisterForm.DOB" id="Dob"></InputDate>
                <div>
                    @if (RegisterErrors.Any(x => x.PropertyName == "DOB"))
                    {
                    foreach (var error in RegisterErrors.Where(x=> x.PropertyName == "DOB"))
                    {
                    <p>@error.ErrorMessage</p>
                    }
                    }
                </div>
            </div>
            <div>
                <InputText type="password" @bind-Value="RegisterForm.Password" id="password"></InputText>
                <div>
                    @if (RegisterErrors.Any(x => x.PropertyName == "Password"))
                    {
                    foreach (var error in RegisterErrors.Where(x=> x.PropertyName == "Password"))
                    {
                    <p>@error.ErrorMessage</p>
                    }
                    }
                </div>
            </div>
            <button type="submit">Register</button>
        </EditForm>
    </div>
</div>