@page "/Account/Register"
@using System.Security.Claims
@using DomainLayer.Constants
@inherits RegisterBase


<div class="flex flex-col-reverse md:space-x-8  md:flex-row place-content-center">
    <div class="">
        <h1 class="text-5xl text-light-secondaryColor dark:text-dark-secondaryColor font-bold">Welcome to Code Connect!</h1>
        <div class="dark:text-dark-supportColor text-light-supportColor mt-1">
            <p class="mt-2">Bridging Bytes and Brilliant Minds - Your Coding Community!</p>
        </div>
        <h3 class="mt-5 text-light-secondaryColor dark:text-dark-secondaryColor font-medium">Already have an account?</h3>
        <div class="mt-5">
            <a href="/Account/Login" class="rounded-md  border-4 border-solid hover:border-light-secondaryColor border-transparent px-3 py-2 text-light-supportColor/80 dark:text-dark-supportColor/90 bg-dark-secondaryColor hover:bg-transparent"><i class="bi bi-code-square"></i>Login</a>
        </div>
    </div>
    <div class="rounded-md dark:bg-dark-secondaryColor bg-light-secondaryColor mb-5 p-5 md:max-w-[500px] w-[90%] text-center">
        <h1 class="text-4xl text-dark-supportColor font-bold">Register</h1>
        <EditForm FormName="Register" Model="RegisterForm" OnSubmit="SubmitRegister">
            <div class="mt-5">
                <InputText @bind-Value="RegisterForm.FirstName" id="firstName" placeholder="First Name"
                           class="bg-transparent border-b-4 text-dark-supportColor border-dark-supportColor rounded-md font-bold mb-2 w-[80%] pl-[5px] outline-none">
                </InputText>
                <div>
                    @if (RegisterErrors.Any(x => x.PropertyName == Consts.ClaimTypes.FirstName))
                    {
                        foreach (var error in RegisterErrors.Where(x=> x.PropertyName == Consts.ClaimTypes.FirstName))
                        {
                            <p class="text-red-800 font-bold"><span class="fa fa-circle-exclamation text-red-800"></span> @error.ErrorMessage</p>
                        }
                    }
                </div>
            </div>
            <div class="mt-5">
                <InputText @bind-Value="RegisterForm.LastName" id="lastName" placeholder="Last Name"
                           class="bg-transparent border-b-4 text-dark-supportColor border-dark-supportColor rounded-md font-bold mb-2 w-[80%] pl-[5px] outline-none">
                </InputText>
                <div>
                    @if (RegisterErrors.Any(x => x.PropertyName == Consts.ClaimTypes.LastName))
                    {
                        foreach (var error in RegisterErrors.Where(x=> x.PropertyName == Consts.ClaimTypes.LastName))
                        {   
                            <p class="text-red-800 font-bold"><span class="fa fa-circle-exclamation text-red-800"></span> @error.ErrorMessage</p>
                        }
                    }
                </div>
            </div>
            <div class="mt-5">
                <InputText @bind-Value="RegisterForm.UserName" id="username" placeholder="Username"
                           class="bg-transparent border-b-4 text-dark-supportColor border-dark-supportColor rounded-md font-bold mb-2 w-[80%] pl-[5px] outline-none">
                </InputText>
                <div>
                    @if (RegisterErrors.Any(x => x.PropertyName == Consts.ClaimTypes.UserName))
                    {
                        foreach (var error in RegisterErrors.Where(x=> x.PropertyName == Consts.ClaimTypes.UserName))
                        {
                            <p class="text-red-800 font-bold"><span class="fa fa-circle-exclamation text-red-800"></span> @error.ErrorMessage</p>
                        }
                    }
                </div>
            </div>
            <div class="mt-5">
                <InputText @bind-Value="RegisterForm.Email" id="email" placeholder="Email"
                           class="bg-transparent border-b-4 text-light-supportColor dark:text-dark-supportColor border-dark-supportColor rounded-md font-bold mb-2 w-[80%] pl-[5px] outline-none">
                </InputText>
                <div>
                    @if (RegisterErrors.Any(x => x.PropertyName == Consts.ClaimTypes.Email))
                    {
                        foreach (var error in RegisterErrors.Where(x=> x.PropertyName == Consts.ClaimTypes.Email))
                        {
                            <p class="text-red-800 font-bold"><span class="fa fa-circle-exclamation text-red-800"></span> @error.ErrorMessage</p>
                        }
                    }
                </div>
            </div>
            <div class="mt-5">
                <InputDate @bind-Value="RegisterForm.Dob" id="Dob"
                           class="bg-transparent border-b-4 text-dark-supportColor border-dark-supportColor rounded-md font-bold mb-2 w-[80%] pl-[5px] outline-none">
                </InputDate>
                <div>
                    @if (RegisterErrors.Any(x => x.PropertyName == "Dob"))
                    {
                        foreach (var error in RegisterErrors.Where(x=> x.PropertyName == "Dob"))
                        {
                            <p class="text-red-800 font-bold"><span class="fa fa-circle-exclamation text-red-800"></span> @error.ErrorMessage</p>
                        }
                    }
                </div>
            </div>
            <div class="mt-5">
                <InputText type="password" @bind-Value="RegisterForm.Password" id="password" placeholder="Password"
                           class="bg-transparent border-b-4 text-dark-supportColor border-dark-supportColor rounded-md font-bold mb-2 w-[80%] pl-[5px] outline-none">
                </InputText>
                <div>
                    @if (RegisterErrors.Any(x => x.PropertyName == Consts.ClaimTypes.Password))
                    {
                        foreach (var error in RegisterErrors.Where(x=> x.PropertyName == Consts.ClaimTypes.Password))
                        {
                            <p class="text-red-800 font-bold"><span class="fa fa-circle-exclamation text-red-800"></span> @error.ErrorMessage</p>
                        }
                    }
                </div>
            </div>
            <div class="mt-5">
                <button disabled="@DisableRegister" type="submit" class="cursor-pointer rounded-md border-4 border-solid border-dark-supportColor px-3 py-2 text-light-primaryColor hover:bg-dark-supportColor hover:text-light-secondaryColor font-bold">@(DisableRegister?"Creating account...":"Register")</button>
            </div>
            @if (RegisterErrors.Any(x => x.PropertyName == "ResponseError"))
            {
                foreach (var error in RegisterErrors.Where(x=> x.PropertyName == "ResponseError"))
                {
                    <p class="text-red-800 font-bold"><span class="fa fa-circle-exclamation text-red-800"></span> @error.ErrorMessage</p>
                }
            }
        </EditForm>
    </div>
</div>