@using DomainLayer.Constants
@using Microsoft.AspNetCore.Components.Authorization
@using CodeConnect.WebAssembly.Components.General
@inherits NavMenuBase

@*Blur*@
<div class="fixed w-full h-full z-[50] backdrop-blur-sm md:hidden @(OpenNav ? "" : "hidden")" @onclick="() => OpenNav = false"></div>
<aside class="sm:w-[250px] w-[80%] fixed top-[80px] left-0 z-[200] h-[calc(100vh-100px)]  transition-transform @(OpenNav ? "" : "-translate-x-full")" aria-label="Sidebar">
    <div class="h-[calc(100vh-80px)] px-3 py-4 overflow-y-auto bg-light-secondaryColor dark:bg-dark-secondaryColor">
        <ul class="space-y-2 font-medium">
            <li>
                <button onclick="@(() => NavigateAndCloseNav("/MyFeed"))"  class="cursor-pointer flex items-center p-2 dark:text-white hover:bg-gray-100/10 rounded-lg group">
                    <FaIcon Icon="@FaIcons.NewsPaper" Size="@FaSize.Large" ExtraCss="text-light-primaryColor w-[24px]"/>
                    <span class="ms-3 text-light-primaryColor dark:text-dark-supportColor">Feed</span>
                </button>
            </li>
            <li>
                <button onclick="@(() => NavigateAndCloseNav("/Notifications"))" class="relative cursor-pointer flex items-center p-2 rounded-lg dark:text-white hover:bg-gray-100/10 group mb-5">
                    <FaIcon Icon="@FaIcons.Bell" Size="@FaSize.Large" ExtraCss="text-light-primaryColor w-[24px]"/>
                    <span class="ms-3 text-light-primaryColor dark:text-dark-supportColor">
                        Notifications
                        @if (NotificationCount > 0)
                        {
                            <span class="absolute top-0 left-0 rounded-full font-bold bg-red-700 w-[18px] h-[18px] flex items-center justify-center leading-none">@(NotificationCount <= 99 ? NotificationCount : "99+")</span>
                        }
                    </span>
                </button>
            </li>
        </ul>
        @if (UserState?.Current != null)
        {
            <div class="absolute bottom-[30px] left-[10px] hover:bg-gray-100/10 cursor-pointer rounded-md p-2 w-[90%] @(LoadingUserDetails ? "animate-pulse bg-gray-100/50" : "")" onclick="@(() => NavigateAndCloseNav($"/Profile/{UserState.Current.UserName}"))">
                @if (!LoadingUserDetails)
                {
                    <img class="w-10 ms-3 h-10 rounded-full mb-3 object-cover" src="@UserState.Current.ProfileImg" alt="Rounded avatar">
                    <p class="font-bold ms-3  text-light-primaryColor dark:text-dark-supportColor">@UserState.Current.FirstName</p>
                    <p class="font-bold ms-3 mb-2 text-light-primaryColor dark:text-dark-supportColor">@UserState.Current.LastName</p>
                    <p class="font-bold ms-3 mb-2 text-light-primaryColor dark:text-dark-supportColor">&#x40;@UserState.Current.UserName</p>
                    <p class="text-[13px] ms-3 text-light-primaryColor/90 dark:text-dark-supportColor/90 ">Followers: <span class=" text-light-primaryColor dark:text-dark-supportColor font-bold"><FormatNumber Number="FollowerCount"/></span></p>
                    <p class="text-[13px] ms-3 text-light-primaryColor/90 dark:text-dark-supportColor/90">Following: <span class=" text-light-primaryColor dark:text-dark-supportColor font-bold"><FormatNumber Number="FollowingsCount"/></span></p>
                }
                else
                {
                    <div class="w-[100%] h-[300px]"></div>
                }
            </div>
        }
    </div>
</aside>

